*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFAF0;
}

h2 {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: rgb(229, 190, 140);
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

nav {
  z-index: 3;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.6s;
}
nav .nav-link {
  color: white;
}
nav .nav-link:hover {
  color: rgb(229, 190, 140);
}
nav .navbar-nav .nav-link.active {
  color: rgb(229, 190, 140);
}
nav .fa-bars {
  padding: 8px;
  color: white;
}
nav .brand {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.4s;
}
nav .brand:hover {
  color: rgb(229, 190, 140);
}

header {
  color: white;
}
header h1 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
}
header p {
  font-size: 18px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/maps-tech3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}
header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 5;
  text-align: center;
  padding: 10px;
}
header span {
  display: block;
}
header .btn-outline-light {
  text-transform: uppercase;
  font-size: 10px;
}
header .fa-chevron-down {
  position: absolute;
  font-size: 30px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.aboutus .aboutus-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.aboutus .aboutus-text {
  font-size: 15px;
  letter-spacing: 0.8px;
}

.prices .offer {
  margin: 0px 0px;
  padding: 10px;
}
.prices .offer h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.prices .offer p {
  font-size: 14px;
  font-weight: 500;
}
.prices .photo {
  background-image: url("./img/scott-graham-5fNmWej4tAA-unsplash.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: solid 2px black;
}
.prices .btn-outline-dark {
  font-size: 12px;
}
.prices .price-info {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
}

.realization .carousel-item {
  position: relative;
  height: 700px;
}
.realization .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}
.realization .carousel-indicators {
  padding-bottom: 5px;
}

.contact {
  position: relative;
  background-image: url("../img/mapa1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.contact h2 {
  color: white;
}
.contact .contact-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: -2;
}
.contact .contact-us {
  display: flex;
  color: white;
}
.contact .contact-us .contact-item {
  margin: 20px 0;
}
.contact .contact-us .contact-item p {
  font-size: 18px;
  font-weight: 500;
}
.contact .contact-us .contact-item a {
  color: white;
}
.contact .contact-us .contact-item i {
  margin-top: 20px;
  font-size: 30px;
  transition: color 0.4s;
}
.contact .contact-us .contact-item i:hover {
  cursor: pointer;
  color: rgb(199, 170, 133);
}

footer {
  background-color: #FFFAF0;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  nav .brand {
    font-size: 28px;
  }
  nav .fa-bars {
    padding: 10px;
    font-size: 28px;
    color: white;
  }
  nav .nav-link {
    color: white;
    font-size: 18px;
  }
  header {
    color: white;
  }
  header h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 500;
  }
  header p {
    font-size: 32px;
  }
  header span {
    display: inline-block;
  }
  header .hero-img {
    background-image: url("../img/maps-tech3 large.jpg");
  }
  header .btn-outline-light {
    font-size: 14px;
  }
  .aboutus .aboutus-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .aboutus .aboutus-text {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .prices .offer {
    padding: 10px;
  }
  .prices .offer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }
  .prices .offer p {
    font-size: 16px;
    font-weight: 500;
  }
  .prices .photo {
    margin-top: 10px;
    background-image: url("../img/scott-graham-5fNmWej4tAA-unsplash.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px black;
  }
  .prices .btn-outline-dark {
    font-size: 14px;
  }
  .prices .price-info {
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 500;
  }
  .contact .contact-us .contact-item {
    margin: 20px 0;
  }
  .contact .contact-us .contact-item p {
    font-size: 20px;
    font-weight: 500;
  }
  .contact .contact-us .contact-item i {
    margin-top: 20px;
    font-size: 35px;
  }
}
@media (min-width: 1024px) {
  nav .brand {
    font-size: 32px;
    letter-spacing: 2px;
  }
  nav .fa-bars {
    padding: 10px;
    font-size: 28px;
    color: white;
  }
  nav .nav-link {
    color: white;
    font-size: 18px;
  }
  header {
    color: white;
  }
  header h1 {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  header p {
    font-size: 36px;
  }
  header span {
    display: inline-block;
  }
  header .hero-img {
    background-image: url("../img/maps-tech3 large.jpg");
  }
  header .btn-outline-light {
    font-size: 16px;
  }
  .aboutus .aboutus-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .aboutus .aboutus-text {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .prices .offer {
    margin: 10px 0px;
    padding: 10px;
  }
  .prices .offer h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
  .prices .offer p {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: 500;
  }
  .prices .photo {
    margin-top: 10px;
    background-image: url("../img/scott-graham-5fNmWej4tAA-unsplash.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px black;
  }
  .prices .btn-outline-dark {
    font-size: 16px;
  }
  .prices .price-info {
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 500;
  }
  .contact .contact-us .contact-item {
    margin: 20px 0;
  }
  .contact .contact-us .contact-item p {
    font-size: 22px;
    font-weight: 500;
  }
  .contact .contact-us .contact-item i {
    margin-top: 30px;
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  nav {
    background-color: black;
  }
}/*# sourceMappingURL=main.css.map */